body{
    background-image: url('https://i.redd.it/bpxxqqvps4h91.gif');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
}
#main-body{
    color: white;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 80%;
    min-height: 700px;
}
.row .card{
    color: white;
    background: grey;
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
}

#main-heading{
    text-align: center;
}
#main-qstn{
    text-align: center;
    margin-bottom: 30px;
}

